body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #1ABC9C;
  flex-basis: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main > *, header, footer {
  margin: 4px;
  padding: 5px;
  border-radius: 7px;
}

main {
  display: flex;
  min-height: 650px;
}

article {
  flex: 4 0 60%;
  background-color: #ECF0F1;
}

nav {
  flex: 1 1 20%;
  background-color: #95A5A6;
  order: -1;
}

aside {
  flex: 1 1 20%;
  background-color: #3498DB;
}

@media all and (max-width: 640px) {
  
  main {
    flex-direction: column;
    flex-grow: 1;
  }

  nav {
    order: 0;
  }
}