body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: blue;
}

main {
  display: flex;

}

article {
  flex-basis: 60%;
  background-color: red;
}

nav {
  flex-basis: 20%;
  background-color: orange;
  order: -1;
}

aside {
  flex-basis: 20%;
  background-color: yellow;
}