body {
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  background-color: blue;
  flex-basis: 50px;
}

main {
  display: flex;
  min-height: 650px;
}

article {
  flex: 4 0 60%;
  background-color: red;
}

nav {
  flex: 1 1 20%;
  background-color: orange;
  order: -1;
}

aside {
  flex: 1 1 20%;
  background-color: yellow;
}

@media all and (max-width: 640px) {
  
  main {
    flex-direction: column;
    flex-grow: 1;
  }

  nav {
    order: 0;
  }
}